/* Start encrypt page */
/* Styles for the upload button */
.uploadButton {
  display: relative;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.uploadButton i {
  margin-right: 8px; /* Adjust the icon positioning */
}

.uploadButton:hover {
  background-color: #0056b3;
}

/* Styles for the password field */
.passwordField {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  width: 100%;
  max-width: 300px; /* Adjust based on your layout */
  margin-top: 20px;
  transition: border-color 0.3s ease;
}

.passwordField:focus {
  border-color: #007bff; /* Change color on focus */
}

/* Styles for the encryption button */
.encrypt_decryptButton {
  display: inline-block;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
  margin-top: 20px;
  
}

.encrypt_decryptButton:hover {
  background-color: rgb(7, 100, 32);
}
/* encrypt section */
.encrypt{
position: relative;
height: 100vh;
max-width: 100%;
width: 100%;
background-image: url("../images/encrypt.jpg");
background-size: cover;
background-position: center;
}
/* 
.encrypt::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}
.encrypt.show::before {
  opacity: 1;
  pointer-events: auto;
} */
/* End general encrypt page  */
/* Start encryption form in encrypt page */
.encrypt_form {
  text-align: center;
  position: relative;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background: #003cff0a;
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.098);
  /* opacity: 0; */
  /* pointer-events: none; */
  /* transition: all 0.4s ease-out; */
  
  
}
.uploadImgIndicate {
  background-color: rgba(255, 255, 255, 0.199);
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font: bold;
  max-width:100% ;
  max-height:100% ;
  position: absolute;
  right: -6%;  
  top: 17%;
  
  
}
/* End encryption form*/

/* Basic styling for the buttons */
.buttons-container {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} 

/* Styles for the modern buttons home_encrypt_decrypt_buttons */
.modern-button {
  padding: 12px 24px;
  font-size: 36px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  
}

.primary-button {
  background-color: rgba(0, 150, 250, 0.121);
  color: #fff;
  height: 100%;
  width: 100%;
}

.secondary-button {
  background-color: rgba(0, 150, 250, 0.121);
  color: #fff;
  margin-left: 0; /* Adds space between buttons */
  height: 100%;
  width: 100%;
  backdrop-filter: blur(0px)  

}

/* Hover effect */
.modern-button:hover {
  transform: translateY(-8px);
  box-shadow: 0 4px 6px rgba(252, 252, 252, 0);
}
.primary-button:hover {
  backdrop-filter: blur(6px)  
}
.secondary-button:hover {
  background-color: #ffffff00;
  backdrop-filter: blur(0px)  

}

/* end of en-de page */
/* start login form */
/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
.header {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 100;
  padding: 0 20px;
}
.nav {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.nav,
.nav_item {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.nav_logo,
.nav_link,
.button {
  color: #fff;
}
.nav_logo {
  font-size: 25px;
}
.nav_item {
  column-gap: 25px;
}
.nav_link:hover {
  color: #d9d9d9;
}
.button {
  padding: 6px 24px;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
}
.button:active {
  transform: scale(0.98);
}

/* Home */
.home {
  position: relative;
  height: 100vh;
  max-width: 100%;
  width: 100%;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center;
}
.home::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}
.home.show::before {
  opacity: 1;
  pointer-events: auto;
}
/* From */
.form_container {
  position: fixed;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
}
.home.show .form_container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.signup_form {
  display: none;
}
.form_container.active .signup_form {
  display: block;
}
.form_container.active .login_form {
  display: none;
}
.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}
.form_container h2 {
  font-size: 22px;
  color: #0b0217;
  text-align: center;
}
.input_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}
.input_box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
}
.input_box input:focus {
  border-color: #7d2ae8;
}
.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}
.input_box i.email,
.input_box i.password {
  left: 0;
}
.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
  color: #7d2ae8;
}
.input_box i.pw_hide {
  right: 0;
  font-size: 18px;
  cursor: pointer;
}
.option_field {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form_container a {
  color: #7d2ae8;
  font-size: 12px;
}
.form_container a:hover {
  text-decoration: underline;
}
.checkbox {
  display: flex;
  column-gap: 8px;
  white-space: nowrap;
}
.checkbox input {
  accent-color: #7d2ae8;
}
.checkbox label {
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  color: #0b0217;
}
.form_container .button {
  background: #7d2ae8;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
}
.login_signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}



/* end login form */
/* Start Variables */
:root {
  --main-color: rgb(255, 187, 0);
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}
/* End Variables
/* Start Global Rules */
* { 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
 @media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}  
/* End Global Rules */
/* Start Components */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* End Components */
/* Start Header
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  border-radius: #d9d9d9;
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: var(--main-duration);
}
.header .links .icon span:last-child {
  width: 100%;
}
.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}
.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links:hover ul {
  display: block;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: var(--main-duration);
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
} */
/* End Header */
Start Landing Section
.landing {
  /* background-image: url(../images/bg.jpg); */
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 320px;
  max-width: 100%;
}
.landing .intro-text h1 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}
/* End Landing Section */
/* Start Features */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.features .feat {
  padding: 20px;
  text-align: center;
}
.features .feat i {
  color: var(--main-color);
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}
/* End Features */
/* Start About */
.about {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px);
}
.about .about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}
.about .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}
@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0 auto 60px;
  }
}
.about .about-content .image::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}
.about .about-content .image::after {
  top: -40px;
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  right: -150px;
}
@media (max-width: 991px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}
.about .about-content .image img {
  max-width: 100%;
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
  line-height: 2;
  color: #777;
}
/* End About */
/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.contact .info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.contact .info .label {
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.contact .info .social i {
  margin-left: 10px;
  color: var(--secondary-color);
}
@media (max-width: 767px) {
  .contact .info .label,
  .contact .info .link {
    font-size: 25px;
  }
}
/* End Contact */
/* Start Footer */
.footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
.footer span {
  font-weight: bold;
  color: var(--main-color);
}
/* End Footer */



/* her for login and logout and regester
===============================*/
* {
  margin: 0;
  box-sizing: border-box;
}
.limiter {
  width: 100%;
  margin: 0 auto;
}
body {
  font-weight: 400;
}

.containter {
  width: 100%;
  min-height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 13px;
}

.wraper {
  width: 490px;
  min-height: 100vh;
  background: white;
  box-shadow: 0 5px 7px 2px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
}

.validate-form {
  width: 100%;
}

.login-form-title {
  display: block;
  line-height: 1.2;
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  color: #333333;
}

@media (max-width: 576px) {
  .wraper {
    padding: 77px 15px 33px 15px;
  }
}

@media (min-width: 577px) {
  .wraper {
    padding: 77px 55px 33px 55px;
  }
}

input {
  outline: none;
  border: none;
  width: 100%;
}

.p-b-26 {
  padding-bottom: 126px;
}

.wrap-input {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 40px;
}

.input {
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  overflow: visible;
}
::after,
::before {
  box-sizing: inherit;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
.focus-input::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.4s;
  background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
}

.focus-input::after {
  font-size: 15px;
  color: #999999;
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;
  transition: all 0.4s;
}

.input:focus + .focus-input::after {
  top: -15px;
}

.input:focus + .focus-input::before {
  width: 100%;
}

.has-val.input + .focus-input::after {
  top: -15px;
}

.has-val.input + .focus-input::before {
  width: 100%;
}

.m-b-15 {
  margin-bottom: 60px;
}

.login-form-button {
  font-size: 15px;
  color: #fff;
  outline: none !important;
  border: none;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  padding: 0px 20px;
  width: 100%;
  height: 50px;
}

.signup-link {
  margin-top: 100px;
  text-align: center;
  font-size: 17px;
  margin-bottom: 10px;
}

.signup-link a {
  text-decoration: none;
  color: black;
}

.switch-container {
  width: 100%;
  display: flex;
  padding-top: 2rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 280px;
  height: 54px;
  margin-left: auto;
  margin-right: auto;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  content: 'Login';
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #ccc;
}

.slider:before {
  position: absolute;
  content: 'Sign Up';
  text-align: center;
  height: 46px;
  line-height: 2.7;
  width: 132px;
  top: 4px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle-input:checked + .slider:before {
  -webkit-transform: translateX(138px);
  transform: translateX(138px);
  -ms-transform: translateX(138px);
  content: 'Login';
}

.toggle-input:checked + .slider {
  background-color: #2196f3;
}

.slider.border:before {
  border-radius: 46px;
}
.slider.border {
  border-radius: 46px;
}