{% extends 'base.html' %}
{% load static %}
{% block content %}
  <header class="header">
    <nav class="nav">
      <a href="#" class="nav_logo">CipherLab</a>
      
      <button class="button" id="home_enBtn">Encryption Page</button>
    

      <ul class="nav_items">
        <li class="nav_item">
          <a href="#" class="nav_link">Home</a>
          <a href="#features" class="nav_link">Features</a>
          <a href="#about" class="nav_link">About</a>
          <a href="#contact" class="nav_link">Contact</a>
        </li>
      </ul>

      {% if user.is_authenticated %} 
      <a class="button" id="signOut" href="{% url 'logout' %}">Sign out</a>
      {% else %}
      <a class="button" id="signOut" href="{% url 'login' %}">Login</a>
      {% endif %}
    </nav>
    
    <style>
      .hidden_uploadButton {
        display: none;
      }
      .selectedFile {
        max-width: 70vh ;
        max-height: 80vh;
        transform: translate(3%, -44%);
        margin: auto;
        margin-left: 5vh;
        align-items:center;
        border: 5px solid white ;

      }
    </style>
  </header>
  {% if user.is_authenticated %}

  <section class="encrypt">
    <div class="encrypt_form">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        {% comment %}<label  for="file">Select File:</label>
        <input  type="file" name="file" required> {% endcomment %}
        <button class="uploadButton" onclick="document.getElementById('fileInput').click()" required>Choose File </button>

        <input id='fileInput' class="hidden_uploadButton" type="file" name="file" onchange="displaySelectedImage()"> 
      
        {% comment %} <label class='passwordField' for="passw1">Enter Password:</label> {% endcomment %}
        <input class='passwordField' type="password" placeholder='Enter a Password' name="passw1" required>
        <button class='encrypt_decryptButton' type="submit">Decrypt and Download</button>
      </form>
    </div>
    <img class='selectedFile' id='selectedFile' src='' >

  </section>
  {% else %}
  <section class="encrypt">
    <div class="encrypt_form">
      
  </section>
{% endif %}
<script>
      

  const signOutBtn = document.querySelector("#signOut");
  const encBtn = document.querySelector('#home_enBtn');
  const uploadButton = document.getElementById('upload_image_button');
  const imageInput = document.getElementById('imageInput');
  const uploadIndicator = document.getElementById('uploadIndicator');
  const decBtn = document.getElementById('decryptButton'); 
  const password = document.getElementById('passwordField');

        // Displaying Selected Image on the left of page
        function displaySelectedImage() {
          // Get the input element and the selected file
          const input = document.getElementById('fileInput');
          const file = input.files[0];
          // Check if a file is selected
            if (file) {
            // Create a FileReader to read the file
              const reader = new FileReader();
  
            // Define the function to run when the file is loaded
              reader.onload = function (e) {
              // Get the image element and set its source to the loaded data URL
                const image = document.getElementById('selectedFile');
                image.src = e.target.result;
            };
  
            // Read the file as a data URL
            reader.readAsDataURL(file);
          }
      }

  encBtn.addEventListener("click", () => {
      var url_encrypt= "{% url 'encrypt' %}"
      window.location.href = url_encrypt;
  });

  let uploadedImage = null;

  uploadButton.addEventListener('click', () => {
    // Simulate a click on the hidden file input
    imageInput.click();
  });

  imageInput.addEventListener('change', (event) => {
    const selectedFile = event.target.files[0];

    if (selectedFile) {
        // Store the selected file in the uploadedImage variable
        uploadedImage = selectedFile;

        // Show the upload indicator
        uploadIndicator.style.display = 'block';

        decBtn.addEventListener('click', () => { 
            if (password.value) {
                alert("Image has been decrypted");
            } else {
                alert("Please enter the password");
            }
        });
    }else{
    // Handle the case when no file is selected
        uploadButton.addEventListener('click', () => {
          if (!uploadedImage) {
              alert("Please upload an image first");
          }
        });
    }
  });



</script>


{% endblock %}